<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="rIrCampusStudyEntities" connectionString="metadata=res://*/testModel.csdl|res://*/testModel.ssdl|res://*/testModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.13.125.167;initial catalog=rIrCampusStudy;persist security info=True;user id=kbteststudent;password=studentKBtest;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
