<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectString" connectionString="Data Source=10.13.125.167;Initial Catalog=rIrCampus1.8Test;Persist Security Info=True;User ID=proof;Password=3371934proof;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
